* {
    font-family: 'Nunito', sans-serif;
    background-color: #222;
}
#todo {
  margin-top: 100px;
}
#nav1 {
  margin-top: -200px;
}
#nav2 {
  margin-top: -200px;
}
#quieto {
  display: block;
  position: fixed;
  width: 100%;
  top: -10px;
}

#menu{
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  background-color: #555;
}

#espacio {
  width: 60%;  
  display: flex;
  justify-content: space-around;
  background: repeat;
  align-items: center;
}

#espacio > a {
  background: repeat;
  text-decoration: none;
  color: #fff;
}

#header {
    color: #FFF;
    background: repeat;
    position: absolute;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-top: 20px;
}

.content {
  margin-top: 20px;
    background: repeat;
    margin-top: 60px;
    position: absolute;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: flex-start;
}

#firstimage {
    background: repeat;
    position: relative;
    width: 30%;
    display: flex;
    align-items: center;
}

#description {
    position: relative;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: repeat;
    margin-top: -50px;
}

.container{
    background: repeat;
    max-width: 600px;
}
.container h1,
.container p{
    color:#000000;
    text-align: center;
    background: repeat;
}
.container h1{
    font-size: 50px;
    background: repeat;
}
.container p{
    margin-top: -25px;
    font-size: 25px;
    background: repeat;
}
.container h2 {
    margin-top: -20%;
    margin-left: 25px;
    background: repeat;
}

.container li {
  background: repeat;
    margin-left: 50px;
}
.center-abs{
    top:12%;
    left:50%;
    transform:translate(-50%, -50%);
    position: absolute;
    background: repeat;
}
.charts{
  background: repeat;
    display: flex;
}
.chart{
  background: repeat;
    position: relative;
    width:25%;
    height: 260px;
}
.chart h3{
  background: repeat;
    color:#ffffff;
    font-size: 20px;
    position: absolute;
    margin-top: 80px;
    text-align: center;
    width: 100%;
    text-shadow: 2px 1px 10px rgb(14, 55, 142);
}
.chart svg{
  background: repeat;
    z-index: 2;
}
/* DIV CIRCULO DE FONDO */
.circle{
  background: repeat;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index:1;
    border:5px rgb(113, 244, 65)solid;
}
.textt{
  background: repeat;
    z-index: 3;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    color: #dfdb0a;
}
/* SVG CIRCULO */
.outer{
  background: repeat;
    fill:transparent;
    stroke: rgb(55, 148, 255);
    stroke-width: 6px; /* grosor del borde */
    stroke-dasharray: 216; /* numero de relleno del borde, se usa el mismo valor en el script.js */
    transform: rotate(270deg) translate(-150px, 0); 
    /* giramos el circulo para que su apertura sea en la parte superior 
    y ajustamos su posicion
    */
}

#li1 {
  background: repeat;
    list-style-image: url(public/precio.svg);
}

#li2 {
  background: repeat;
    list-style-image: url(public/aceptar.svg);
}

.button {
    margin-left: 45%;
    margin-top: 10px;
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
  }
  
  .button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #555;
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    background: repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,.text,.icon {
    background: repeat;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    background: repeat;
    top: 0
  }
  
  .text,.icon {
    background: repeat;
    transition: top 0.5s;
  }
  
  .icon {
    background: repeat;
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon svg {
    background: repeat;
    width: 24px;
    height: 24px;
  }
  
  .button:hover {
    background: #222;
  }
  
  .button:hover .text {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }
  
  .button:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  
  #contenidoDos {
    background: repeat;
    position: absolute;
    width: 100%;
    height: 500px;
    top: 123%;
    display: flex;
    flex-direction: row;
  }

#descripcion {
  background: repeat;
    width: 40%;
}
  .titulos {
    
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  #lista {
    color: #FFF;
    
    margin-left: 20%;
    list-style-image: url(public/aceptar.svg);
  }

#contentcarrusel {
  background: repeat;
  height: 500px;
  width: 60%;
}

#container-slider
{ 
    position: relative;
    display: block;
    width: 78%;
    transform: rotate(90deg);
    background: repeat;
}
#slider {
    margin-left: 80px;
    position: relative;
    display: block;
    width: 50%;
    height: 70vh;
    min-height: 300px;
}
#slider li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    z-index: -1;
    opacity: 0;
}

.content_slider{
    padding: 15px 30px;
    color: #FFF;
    width: 50%;
    height: 130%;
    border-radius: 5px;   
    margin-top: -50px;
    background: none;
}

#slider li .content_slider{

    margin-left: 0px;
    background: rgba(255, 255, 255, 0.09);
    padding: 3px 85px;
}

#family {
  background: repeat;
  position: absolute;
  width: 100%;
  height: 560px;
  display: flex;
  flex-direction: row;
  top: 200%;
  color: #FFF;
}

#titulos {
  background: repeat;
  position: absolute;
  width: 50%;
  top: 180%;
  left: 45%;
  height: 30px;
  color: #FFF;
}
#family > hr {
  background: repeat;
  border-radius: 2px;
  border: 2px double rgba(255, 255, 255, 0.603)
}
.family {
  background: repeat;
  width: 33.33%;
}
.Jackson {
    margin-top: 25px;
    height: 300px;
    display: flex;
    justify-content: center;
    background: repeat;
    color: #ffffff;
}


.Jackson:hover .image {-webkit-transform:scale(1.3);transform:scale(1.3);}
.Jackson {overflow:hidden;}

.parrafos {
  display: flex;
  background: repeat;
  flex-direction: column;
  justify-content: center;
  max-width: 35ch;
  margin-left: 15%;
  color: #fff;
}

#pie {
  background: repeat;
  position: absolute;
  width: 100%;
  top: 300%;
  height: 200px;
  display: flex;
  flex-direction: row;
}

.pies {
  margin-top: 10px;
  background-color: #555;
  position: relative;
  width: 50%;
  height: 100%;
}

.pies > img {
  margin-top: 20px;
  background: repeat;
  border-radius: 50%;
  margin-left: 7%;
}

.pies > p {
  background: repeat;
  text-align: justify;
  font-size: 13px;
  max-width: 30ch;
  margin-left: 2%;
  color: #FFF;
}

.Btn {
  margin-top: 20px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all .3s;
  margin-left: 3%;
 
}

.svgContainer {
  
  width: 140%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(4px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all .3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  z-index: -1;
  border-radius: 9px;
  pointer-events: none;
  transition: all .3s;
}

.Btn:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.Btn:hover .svgContainer {
  
  background-color: rgba(156, 156, 156, 0.466);
}
